/* Style de base pour l'AnchorPane */
.root {
    -fx-background-image: url('bg.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

/* Style pour les GridPane */
.grid-pane {
    -fx-background-color: #e0e0e0;  /* Fond gris pour distinguer le GridPane */
    -fx-padding: 10px;  /* Espace autour des cellules */
    -fx-hgap: 10px;  /* Espace horizontal entre les cellules */
    -fx-vgap: 10px;  /* Espace vertical entre les cellules */
}

/* Style pour les Buttons du jeu */
.button {
    -fx-background-color: #2196f3;  /* Bleu */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-color: #1976d2;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 0);
}

.button:hover {
    -fx-background-color: #64b5f6;  /* Bleu clair */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button:pressed {
    -fx-background-color: #1565c0;  /* Bleu foncé */
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

#restartButton {
    -fx-background-color: #f44336;  /* Rouge */
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-border-color: #d32f2f;
    -fx-border-width: 2px;
}
/* Style pour les Labels */
.label {
    -fx-font-size: 20px;
    -fx-text-fill: #424242;  /* Gris foncé */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 3, 0, 0, 0);
}

/* Style spécifique pour le label du gagnant */
#winnerLabel {
    -fx-font-weight: bold;
    -fx-text-fill: #d32f2f;  /* Rouge */
}

/* Style pour le label du joueur actuel */
#idCurrentPlayer {
    -fx-text-fill: #388e3c;  /* Vert */
}

/* Style pour le bouton de redémarrage */

