/* Style général pour l'AnchorPane */
.anchor-pane {
    -fx-background-color: #0e0c0c;
}

/* Style pour les Labels */
.label {
    -fx-font-size: 18px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

.label-bonjour {
    -fx-font-size: 36px;
    -fx-text-fill: #ffff3b;  /* Couleur bleu foncé */
    -fx-font-weight: bold;
}

/* Style pour les Buttons */
.button {
    -fx-background-color: #4caf50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-color: #388e3c;
    -fx-border-width: 2px;
    -fx-transition: all 0.3s ease;
}

.button:hover {
    -fx-background-color: #66bb6a;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.button:pressed {
    -fx-background-color: #388e3c;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

/* Style pour le VBox */
.vbox {
    -fx-alignment: center;
    -fx-spacing: 20px;
}
